[package]
name = "ogg"
version = "0.1.0"
authors = ["est31 <MTest31@outlook.com>"]
description = "Ogg container decoder and encoder written in pure Rust"
license = "MIT/Apache-2.0"
keywords = ["ogg", "decoder", "encoder", "xiph"]
repository = "https://github.com/est31/ogg"
readme = "README.md"

[lib]
name = "ogg"

[dependencies]
byteorder = "0.5.1"


[dev-dependencies]
time = "0.1"
